<%= form_with(model: [:v1, :dashboard, listing], html: { autocomplete: "off", class: "w-full" }) do |form| %>
  <%= component("Form/Errors", entity: listing) %>

  <div class="flex flex-wrap mb-2">
    <%= component("Form/Field",
      attribute_key: :place_id,
      field_type: :select,
      form: form,
      label: "Location",
      option_values: places.map { |place| [place.title, place.id] },
      value: listing.place_id || params[:place_id] || "",
    ) %>
  </div>

  <div class="flex flex-wrap mb-2">
    <%= component("Form/Field",
      attribute_key: :listing_type_id,
      field_type: :select,
      form: form,
      label: "Listing Type",
      option_values: listing_types.map { |listing_type| [listing_type.title, listing_type.id] },
      value: listing.listing_type_id || params[:listing_type_id] || "",
    ) %>
  </div>

  <div class="flex flex-wrap mb-2">
    <%= component("Form/Field",
      attribute_key: :title,
      form: form,
      label: "Title",
      value: listing.title,
    ) %>
  </div>

  <div class="flex flex-wrap mb-2">
    <%= component("Form/Field",
      attribute_key: :description,
      field_type: :text_area,
      form: form,
      label: "Description",
      value: listing.description,
    ) %>
  </div>

  <div class="flex flex-wrap mb-2">
    <%= component("Form/Field",
      attribute_key: :website_url,
      field_type: :url_field,
      form: form,
      label: "Website Url",
      value: listing.website_url,
    ) %>
  </div>

  <div class="flex flex-wrap mb-2">
    <%= component("Form/Field",
      attribute_key: :phone,
      field_type: :telephone_field,
      form: form,
      label: "Phone",
      value: listing.phone,
    ) %>
  </div>

  <div class="flex flex-wrap mb-2">
    <%= component("Form/Field",
      attribute_key: :email,
      field_type: :email_field,
      form: form,
      label: "Email",
      value: listing.email,
    ) %>
  </div>

  <div class="flex flex-wrap mb-2">
    <%= component("Form/Field",
      attribute_key: :booking_url,
      field_type: :url_field,
      form: form,
      label: "Booking Url",
      value: listing.booking_url,
    ) %>
  </div>

  <div class="flex flex-wrap mb-2">
    <%= component("Form/Field",
      attribute_key: :instagram_url,
      field_type: :url_field,
      form: form,
      label: "Instagram Url",
      value: listing.instagram_url,
    ) %>
  </div>

  <div class="flex flex-wrap mb-2">
    <%= component("Form/Field",
      attribute_key: :facebook_url,
      field_type: :url_field,
      form: form,
      label: "Facebook Url",
      value: listing.facebook_url,
    ) %>
  </div>

  <div class="flex flex-wrap gap-2 mb-2" id="images">
    <% listing.images.each do |image| %>
      <%= component("Dashboard/Image_Thumb", image: image) %>
    <% end %>

    <%= component("UploadDropzone",
      allowed_file_types: ["image/*"],
      field_name: "image[file]",
      update_url: v1_dashboard_images_create_from_file_path(
        organization_id: listing.organization_id,
        subject_type: "Listing",
        subject_id: listing.id,
      ),
    ) %>
  </div>

  <%= component("Button",
    variant: :primary,
    size: :md,
  ) { "Save Listing" } %>
<% end %>