<%= form_with(model: [:v1, :dashboard, place], html: { autocomplete: "off", class: "w-full" }) do |form| %>
  <%= component("Form/Errors", entity: place) %>

  <div class="flex flex-wrap mb-2">
    <%= component("Form/Field",
      attribute_key: :geo_region_id,
      field_type: :select,
      form: form,
      label: "Region",
      option_values: geo_regions.map { |geo_region| [geo_region.title, geo_region.id] },
      value: place.geo_region_id || params[:geo_region_id] || "",
    ) %>
  </div>

  <div class="flex flex-wrap mb-2">
    <%= component("Form/Field",
      attribute_key: :place_type_id,
      field_type: :select,
      form: form,
      label: "Place Type",
      option_values: place_types.map { |place_type| [place_type.title, place_type.id] },
      value: place.place_type_id || params[:place_type_id] || "",
    ) %>
  </div>

  <div class="flex flex-wrap mb-2">
    <%= component("Form/Field",
      attribute_key: :title,
      form: form,
      label: "Title",
      value: place.title,
    ) %>
  </div>

  <div class="flex flex-wrap mb-2">
    <%= component("Form/Field",
      attribute_key: :description,
      field_options: {
        style: "height: 200px",
      },
      field_type: :text_area,
      form: form,
      label: "Description",
      value: place.description,
    ) %>
  </div>

  <% if defined?(custom_fields) %>
    <%
      custom_fields.each do |custom_field|
        custom_field_value = place.custom_field_values.find { |v| v.custom_field == custom_field }
    %>
      <div class="flex flex-col flex-wrap mb-2">
        <%= component("Form/Label", form: form) { custom_field.title } %>

        <input
          hidden
          name="place[custom_field_values_attributes][][id]"
          type="text"
          value="<%= custom_field_value&.id %>"
        />

        <input
          hidden
          name="place[custom_field_values_attributes][][custom_field_id]"
          type="text"
          value="<%= custom_field.id %>"
        />

        <input
          class="
            appearance-none
            bg-field-background
            block
            border
            border-field-border
            focus:bg-field-background-active
            focus:border-gray-500
            focus:outline-none
            leading-tight
            mb-3
            px-4
            py-3
            rounded
            text-text
            w-full
          "
          name="place[custom_field_values_attributes][][value]"
          type="text"
          value="<%= custom_field_value&.value %>"
        />
      </div>
    <% end %>
  <% end %>

  <div class="flex flex-wrap gap-2 mb-2" id="images">
    <%= component("UploadDropzone",
      allowed_file_types: ["image/*"],
      field_name: "image[file]",
      update_url: v1_dashboard_images_create_from_file_path(
        organization_id: Current.user.default_organization,
        subject_type: "Place",
        subject_id: place.id,
      ),
    ) %>

    <% place.images.each do |image| %>
      <%= component("Dashboard/Image_Thumb", image: image) %>
    <% end %>
  </div>

  <%= component("Button",
    variant: :primary,
    size: :md,
  ) { "Save Place" } %>
<% end %>